/*
*= require bootstrap/css/bootstrap
*= require bootstrap/css/bootstrap-theme
*= require animate
*= require_self
*= require sweetalert
*= require fileinput
*/


.row {
  margin-top: 4px !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
  min-height: 100% !important;
  height: 100% !important;
  padding: 0 0 0px !important;
}

.h1Login, .h2{
color:#0018a8 !important; ;

}
.navbar-default {
  background-color: #0018a8;
  border-color: #0018a8;
}
.navbar {
  background-image: -webkit-linear-gradient(#0018a8, #0018a8 60%, #0018a8)!important;
  background-image: -o-linear-gradient(#0018a8, #0018a8 60%, #0018a8)!important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0018a8), color-stop(60%, #0018a8), to(#0018a8)) !important;
  background-image: linear-gradient(#0018a8, #0018a8 60%, #0018a8)!important;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0)!important;
  border-bottom: 1px solid #0018a8;
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #0018a8 !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #9ba4af !important;
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #ffffff;
  background-color: #929FF3 !important;
}

.navbar-default .navbar-nav > li > a{
  color: #ffffff !important;
}
.dropdown-menu > li > a:focus,.dropdown-menu > li > a:hover {
  background-color: #9ba4af !important;
}
body {
  background: #ffffff;
  color: #333333;
  margin: 0 auto;
  max-width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
  -moz-box-shadow: 0 0 0.3em #0018a8;
 // -webkit-box-shadow: 0 0 0.3em #0018a8;
  font-size: 13px !important;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.area-nuovaPolizza {
  margin-left: 54px !important;
}
.area-ricerca{
  padding-left: 0px !important;
  margin-bottom: 40px !important;
}
.btn {
  background-color: #0018a8 !important;
  border-color: #0018a8 !important;
  color: white !important;
  padding: 10px 11px !important;
}
.btnLog {
  background-color: #88c149 !important;
  border-color: #88c149 !important;
  color: white !important;
  padding: 9px 11px !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}
.btn-success:hover, .btn-success:focus {
  background-color: #88c149 !important;
  background-position: 0 20px !important;
}
.btn-annulla {
  background-color: #9a161a !important;
  border-color: #911419 !important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.btn-annulla:hover, .btn-annulla:focus {
  background-color: #9a161a !important;
  background-position: 0 20px !important;
}
.btn-login{
  width: 100% !important;
}
.testofooter{
  font-family: sans-serif  !important;
  font-size: 0.75em;
  color: #555 !important;
}
.input:invalid, .select:invalid, .textarea:invalid {
  background: #fff !important;
  border-color: transparent !important;
  color: #fff !important;
}

.nav {
  background-color: transparent !important;
  padding: 0px !important;
  border-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 0px #0018a8 !important;
}
.navbar-nav > li > a {
  padding-top: 22px !important;
  padding-bottom: 21px !important;
}
.testo-navBarTitolo{
  color: #fff !important;
  margin-left: 10px !important;
}
.input-login{
  border-radius: 6px !important;
  margin-bottom: 10px !important;
  outline: 0px !important;
  -webkit-appearance: none;
}


.input-group .form-control:last-child{
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.modal-header{
  background: #0018a8 !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  padding: 9px !important;
}
.radio label, .checkbox label {
  font-weight: bold !important;
  align-items: inherit !important;
}
.modal.modal-wide .modal-dialog {
  width: 60%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.modal-normal .modal-body {
   overflow-y: auto;
 }
.modal-content1 .modal-body {
  overflow-y: auto;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

//#modalPolizza .modal-body p { margin-bottom: 900px; }

.datepicker table tr td.today {
  color: #000 !important;
  background-color: #0018a8 !important;
  border-color: #0018a8 !important;
}

.maiuscola
{
  text-transform:uppercase !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff !important;
  background-color: #0018a8 !important;
  border-color: #0018a8 !important;
}
.avviso{
  background-color: red !important;
  color: white !important;
  padding: 20px !important;
  font-size: 15px !important;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-bottom: 15px !important;
}
.errore{
  background-color: red !important;
  color: white !important;
  padding: 20px !important;
  font-size: 15px !important;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-bottom: 15px !important;
}
.legenda{
  font-size: 16px !important;
  //margin-bottom: 10px !important;
  font-weight: bold;
}
.legendaTabs{
  /*background-color: #0018a8 !important;
  border-color: #0018a8 !important;
  color: #ffffff !important;
  font-size: 16px !important;
  //margin-bottom: 10px !important;
  //font-weight: bold;*/
  //font-weight: bold;*/
}
.testoParagraph{
  font-size: 13px !important;
}
.alert-login{
  background-color: #0018a8 !important;
  border-color: #0018a8 !important;
  color: white !important;
}
.sweet-alert button {
  background-color: #0018a8 !important;
  border-color: #0018a8 !important;
  color: white !important;
}

.chk-login{
  margin-left: 8px !important;
  margin-bottom: 10px !important;
}
.alert-info {
  color: #0018a8 !important;
  background-color: #d9edf7 !important;
  border-color: #bcdff1 !important;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.bs-example{
  //margin: 20px !important;
}
.nav-tabs {
  border-bottom: 1px solid #ddd !important;
}

.testoCommenti{
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  height: 38px !important;
}
.btnDisabled{
  background-color: grey!important;
  border-color: grey!important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.btnSelect{
  background-color: white!important;
  border-color: grey!important;
  color: #000 !important;
  padding: 9px 11px !important;
}
.btn .caret {
   border-top-color: #000 !important;
}
.btnSalvaDisabled{
  background-color: grey!important;
  border-color: grey!important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.vertical-alignment-helper {
  display:table!important;
  height: 100%!important;
  width: 100%!important;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell!important;
  vertical-align: middle!important;
}
.modal-content1 {
 // background-color: white!important;
  width:inherit!important;
  height:inherit!important;
  margin: 0 auto!important;
}
.modal-header {
  padding: 0 !important;
}
.modal-header .close {
  margin-top: 21px !important;
  margin-right: 20px !important;
  color: #fff !important;
  font-size: 30px !important;
 opacity: 0.9 !important;
}
.nav-tabs > li > a {
  color: #ffffff !important;
  background-color:#929FF3 !important;
  border-color: #929FF3 !important;
  font-size: 16px !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #ffffff !important;
  background-color: #0018a8 !important;
  border-color: #0018a8 !important;
  font-size: 16px !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color:#555555 !important;
  border-color: #555 !important;
}
.pagination > li > a, .pagination > li > span {
  color: #0018a8 !important;
}
.marginesopra{
  margin-top: 10px !important;
}
.marginesotto{
  margin-bottom: 10px !important;
}

.labelErrore{
  border-radius: 4px!important;
  color: #fff!important;
  background-color:#0018a8 !important;
  font-size: 20px;
  padding-left: 15px!important;
}
.form-control{
  height: 41px !important;
}
.tt-cursor, .tt-cursor:hover, .tt-cursor:focus{
  color:#0018a8 !important;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color:#0018a8 !important;
}


.popover-content { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 200px !important;
  margin-top: 6px !important;
  padding: 8px 0 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}

.tt-suggestion {
  padding: 8px 10px !important;
  font-size: 16px !important;
  line-height: 15px !important;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff !important;
  background-color: #0018a8 !important;
  box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}
.tt-suggestion p {
  margin: 0 !important;
}